#vstore{
    font-weight: bolder;
    color: #000000;
}
.link{
    padding: 30px;
   text-decoration: none;
    color: black;
    font-weight: bold;
    
}
#navcolor{
  background-color: rgb(242, 177, 244);
}




  
 